{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @template mod_crossduel/completion_cards

    Completion and status cards for Cross Duel.

    @copyright 2026 Johan Venter
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}



{{#showpuzzlecomplete}}
<div class="crossduel-complete-card">
    <h3>{{#str}} puzzle_complete, crossduel {{/str}}</h3>
    <p>{{#str}} puzzle_done, crossduel {{/str}}</p>
</div>
{{/showpuzzlecomplete}}

{{#showmultiplayercomplete}}
<div class="crossduel-complete-card">
    <h3>{{#str}} completed_title, crossduel {{/str}}</h3>
    <p>{{#str}} multiplayer_done, crossduel {{/str}}</p>
    <p class="crossduel-small-note">
        {{#str}} multiplayer_done_note, crossduel {{/str}}
    </p>
</div>
{{/showmultiplayercomplete}}
