
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @template mod_crossduel/multiplayer_panel

    Multiplayer answer panel rendering template.

    @copyright 2026 Johan Venter
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}



{{!

    Context variables:
    * hasactivepanel
    * hascompletedpanel
    * rolelabel
    * turnmessage
    * multiplayerallsolved
    * hasnooptions
    * isnotmyturn
    * showform
    * sesskey
    * actionurl
    * clueselectoptions
}}

{{#hasactivepanel}}
<div class="crossduel-answer-card">
    <h3>{{#str}} multiplayerpanel, crossduel {{/str}}</h3>

    <p>{{#str}} yourmultiplayerrole, crossduel, {{rolelabel}} {{/str}}</p>

    <p class="crossduel-progress-note">
        {{turnmessage}}
    </p>

    {{#multiplayerallsolved}}
        <p class="crossduel-small-note">
            {{#str}} mp_all_solved, crossduel {{/str}}
        </p>
    {{/multiplayerallsolved}}

    {{#hasnooptions}}
        <p class="crossduel-small-note">
            {{#str}} mp_none_in_direction, crossduel {{/str}}
        </p>
        <p class="crossduel-small-note">
            {{#str}} mp_remaining_other, crossduel {{/str}}
        </p>
    {{/hasnooptions}}

    {{#isnotmyturn}}
        <p class="crossduel-small-note">
            {{#str}} mp_refresh_your_turn, crossduel {{/str}}
        </p>
    {{/isnotmyturn}}

    {{#showform}}
        <form method="post" action="{{actionurl}}" class="crossduel-answer-form">
            <input type="hidden" name="sesskey" value="{{sesskey}}">

            <label for="wordid">
                {{#str}} chooseyourclue, crossduel {{/str}}
            </label>

            <select name="wordid" id="wordid">
                {{#clueselectoptions}}
                    <option value="{{wordid}}"
                        {{#selected}}selected{{/selected}}
                        {{#disabled}}disabled{{/disabled}}>
                        {{label}}
                    </option>
                {{/clueselectoptions}}
            </select>

            <label for="useranswer">
                {{#str}} youranswer, crossduel {{/str}}
            </label>

            <input
                type="text"
                name="useranswer"
                id="useranswer"
                value=""
                autocomplete="off">

            <input
                type="submit"
                name="submitmultiplayeranswer"
                value="{{#str}} submitmultiplayeranswer, crossduel {{/str}}"
                class="btn btn-primary">
        </form>
    {{/showform}}
</div>
{{/hasactivepanel}}

{{#hascompletedpanel}}
<div class="crossduel-answer-card">
    <h3>{{#str}} multiplayercompleted, crossduel {{/str}}</h3>

    <p>{{#str}} yourmultiplayerrole, crossduel, {{rolelabel}} {{/str}}</p>

    <p class="crossduel-progress-note">
        {{#str}} mp_no_further_answers, crossduel {{/str}}
    </p>

    <p class="crossduel-small-note">
        {{#str}} mp_refresh_confirm, crossduel {{/str}}
    </p>
</div>
{{/hascompletedpanel}}
